#API URL
FORGOT_MAIL_URL=
APP_API_URL=

## AWS Credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=
AWS_BUCKET_REGION=
AWS_BUCKET_URL=

AWS_SES_REGION=


#email
MAIL_PROVIDER=ses

#storage
disk=s3

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

SENTRY_DSN=https://0bf89e5b38c945f7a644369833e87c61@o1117503.ingest.sentry.io/6151429